body {
  font: 14px "Century Gothic", Futura, sans-serif;
  background-color: rgb(166, 205, 245);
}

ol, ul {
  padding-left: 30px;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #000aff;
  float: left;
  font-size: 3vw;
  font-weight: bold;
  line-height: %120;
  height: 4vw;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 4vw;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.game {
  text-align: center;
}

.game-board {
  margin-right: 1px;
  margin-bottom: 1px;
  margin-left: 1px;
}

.game-info {
  margin-left: 1vw;
}

.gameover {

  font-size: 10vw;
  text-align: center;
  text-decoration: underline;
}

.playable {
  background: 10px #0083fc;
}

.playable .square:hover {
   border: 6px solid #ff4500;
}

 .square:hover {
  border: 6px solid #ff4500;
}

.startScreen {
  text-align: center;
}

.restart {
  border: 4px solid rgb(236, 142, 221);
  background-color: rgb(166, 205, 245);
  color: white;
  border-radius: 10px;
  font-size: 35px;
  padding: 6px 6px;
  text-decoration: none;
    display: inline-block;
    margin-right: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

}
.restart:hover {
    background-color: rgb(236, 142, 221);
    color: white;
  }

h1 {
  font-size: 140px;
  margin-bottom: -1px;
  margin-top: 0px;
}

p1 {
  font-size: 16px;
  margin: 0px;
}

article {
  border-radius: 10px;
  padding: 5px 5px;
  margin: auto;
  width: 700px;
  font-size: 20px;
  margin-top: 20px;
  border: 4px solid rgb(236, 142, 221);
}
